:root {
    --grisClaro: #f5f5f5;
    --amarillo: #ffb901;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}    
main{
    background: rgba(0, 0, 0, 0.02);
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tarjeta-bar{
    background: white;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 0px 10px 0px;
}
.foto-bar{

    object-fit: cover;
    border-radius: 10px 10px 0 0;
    height: 150px;
}
.info-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 10px;
}
.info-bar h2{
    font-size: 18px;
}
.info-bar__direccion{
    margin-top: 5px;
    display: flex;
    gap: 5px;
}
.info-bar__direccion img{
    width: 8px;
}
.info-bar__direccion a{
    font-size: 14px;
    color: black;
}
.info-bar__marcas{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.info-bar__marcas img{
    width: 45px;
}
.precios-bar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}
.precios-bar_contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grisClaro);
    padding: 5px 10px;
    border-radius: 5px;
    gap: 5px;
    min-height: 35px;
}
.precios-bar_contenedor p{
    font-size: 14px;
    font-weight: 700;
}
.decimal, .euro{
    font-size: 12px;
}
.euro{
    font-weight: 400;
}